.App {
  text-align: center;
  height: 3000px;
  background-color: #282c34;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}
